body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    background: #0077ff;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

section {
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #0077ff;
}
